<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="BackgroundImage" value="C:\Users\admin\Desktop\Stc_QR\files\Stc_background.jpg"/>-->
    <!--<add key="DestinationPath" value="C:\Users\admin\Desktop\Stc_QR\output"/>-->
    <!--<add key="ColumnName" value="Desk"/>-->
    <!--<add key="HeightQRCode" value="230"/>-->
    <!--<add key="WidthQRCode" value="230"/>-->
    <!--<add key="QRSizeFactor" value="0.2"/>-->
    <!--<add key="ThreadCount" value="1"/>-->
  </appSettings>
</configuration>